<!DOCTYPE html>
<html lang="en" ng-app="SensibleApp">
    <head>
        @RenderSection("Head", required: false)
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/src/app/controllers/blogController.js")
    </body>
</html>