<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">
        <title>@ViewBag.Title</title>
        <!-- Bootstrap core CSS -->
        @Styles.Render("~/Content/Journal")
        @Styles.Render("~/Content/site")
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="../../assets/js/html5shiv.js"></script>
            <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="SensibleApp" id="app">
        <div class="container theme-showcase" ng-controller="OtherController">
            {{Model.name + ', ' + Model.other + '!'}}
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/src/app/controllers/blogController.js")
    </body>
</html>