@{
    ViewBag.Title = "Sensible Substitute";
}
<div class="wrapper">
    @RenderPage("Feature.cshtml")
    <div class="grid-container">
        <div class="col-sm-6 grid-tower">
            @RenderPage("Premiere.cshtml")
            @RenderPage("Premiere.cshtml")
            @RenderPage("Premiere.cshtml")
        </div>
        <div class="col-sm-6 grid-tower">
            @RenderPage("Premiere.cshtml")
            @RenderPage("Premiere.cshtml")
        </div>
    </div>
</div>