<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/site")
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b><a class="navbar-brand" href="/">Sensible Substitute</a></b>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_Menu")
                <div class="right col-md-8" id="header-panel">
                    @if (Request.IsAuthenticated)
                    {

                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }
                    <h2 class="label label-danger col-md-4">ADMIN CONSOLE</h2>
                    <h3 class="label col-md-3">Custom built for Kristine.</h3>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_SideMenu")
    <div class="container theme-showcase col-md-9">
        @RenderBody()
    </div>
        <div class="footer dark text-center">
            <p>&copy; @DateTime.Now.Year - Sensible Substitute</p>
        </div> 

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Scripts/bootstrap.js")
    </body>
</html>
